<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pick a styalist</title>
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css" >
    <link rel="stylesheet" href="../Content/css/styles.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--http://dev.vast.com/jquery-popup-overlay/-->
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script src=../Content/js/scripts.js></script>
  </head>

  <body>
    <h1>Current Stylists</h1>
    @foreach (var stylist in @Model)
    {
    <h4><a href="/clients/@stylist.GetId()">@stylist.GetName()</a> <small><a href="/edit/@stylist.GetId()">edit</a></small></h4>
    }
    <h1>Add Stylist</h1>
    <form class="form-inline" action="/add_stylist" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="stylist" placeholder="Add a new stylist">
      </div>
      <button class="btn btn-info" type="submit">Submit</button>
      <input type="button" class="btn btn-info" onclick="location.href='/delete_all_stylists_and_clients';" value="Delete All Stylist and Clients" />
    </form>
  </body>
</html>
